body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

button, select, input {
  touch-action: manipulation;
}

dx-app {
  display: grid;
  height: 100vh;
}
